.main-content
{
    font-size: 20px;
    font-style: italic;
}
.items
{
color: rgb(23, 228, 33);

}
.container-fluid
{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt6fCSWG-HrQ-psDmIlY8zuOHU5t5CHi8o4w&usqp=CAU');


}
