.pt-5
{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRArQ46blGg3c6u8bkyCtS2e776xfVZHZsPQw&usqp=CAU');
    font-style: italic;
    background-repeat:no-repeat;
    background-size: cover;
}
